### AI AGENT FOR SQL DATABASE ASSISTANCE

In [15]:
import os
from dotenv import load_dotenv
load_dotenv()

True

In [23]:
os.environ["GROQ_API_KEY"]=os.getenv("GROQ_API_KEY")

In [17]:
from langchain_groq import ChatGroq
from langchain.agents import AgentType
from langchain.agents import create_sql_agent
from pathlib import Path
from langchain.sql_database import SQLDatabase
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from sqlalchemy import create_engine
import sqlite3

In [18]:
llm = ChatGroq(model="llama-3.3-70b-versatile")

In [19]:
dbfile = f"{Path.cwd()}/student.db"
creator = lambda: sqlite3.connect(f"file:{dbfile}?mode=ro", uri=True)

db = SQLDatabase(create_engine('sqlite:///', creator=creator))

In [20]:
toolkit = SQLDatabaseToolkit(db=db,llm=llm)

In [21]:
agent = create_sql_agent(llm,toolkit,verbose=True,agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION)

In [22]:
agent.invoke("list of student whose hobbies are related to sports")

> Entering new SQL Agent Executor chain...
Action: sql_db_list_tables
Action Input: CLASSAction: sql_db_schema
Action Input: CLASS
CREATE TABLE "CLASS" (
	"ID" INTEGER,
	"NAME" VARCHAR(30),
	"STANDARDS" VARCHAR(10),
	"HOBBY" VARCHAR(40),
	"MARKS" INTEGER,
	PRIMARY KEY ("ID")
)

/*
3 rows from CLASS table:
ID	NAME	STANDARDS	HOBBY	MARKS
1	Ananya Sharma	10th	Painting	92
2	Rohan Verma	9th	Cricket	78
3	Priya Singh	10th	Reading	85
*/I have the schema of the CLASS table, which seems to be the most relevant table for this query. I can see that the HOBBY column is where the information about the students' hobbies is stored. I want to find students whose hobbies are related to sports.

Action: sql_db_query_checker
Action Input: SELECT NAME, HOBBY FROM CLASS WHERE HOBBY LIKE '%sport%' OR HOBBY LIKE '%cricket%' OR HOBBY LIKE '%football%' LIMIT 10```sql
SELECT "NAME", "HOBBY"
FROM "CLASS"
WHERE lower("HOBBY") LIKE '%sport%'
OR lower("HOBBY") LIKE '%cricket%'
OR lower("HOBBY") LIKE '%football%'
LIMIT 10;
```I have checked my query and it looks correct. I'm using the LIKE operator with the lower function to make the query case-insensitive. I'm also limiting the results to 10.

Action: sql_db_query
Action Input: SELECT "NAME", "HOBBY" FROM "CLASS" WHERE lower("HOBBY") LIKE '%sport%' OR lower("HOBBY") LIKE '%cricket%' OR lower("HOBBY") LIKE '%football%' LIMIT 10[('Rohan Verma', 'Cricket'), ('Vikram Rao', 'Football')]I now know the final answer
Final Answer: The students whose hobbies are related to sports are Rohan Verma (Cricket) and Vikram Rao (Football).

> Finished chain.

{'input': 'list of student whose hobbies are related to sports',
 'output': 'The students whose hobbies are related to sports are Rohan Verma (Cricket) and Vikram Rao (Football).'}